extends ../../index.pug

block content

	script( type='text/javascript' src=`${server_public_url}Services/ServerManagement/Administration.js` )

	div( ng-controller='Administration_Controller' )

		-var Settings = locals.Server.Settings 

		.w3-container.w3-blue-grey
			h2
				i= `${Settings.AppInfo.name} Administration`


		br
		.w3-container


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Server Controls
			//- 
			//-=====================================================================
			//-=====================================================================


			h3 Server Controls

			.w3-container
				a.w3-btn.w3-green.w3-border.w3-rounded-large.w3-margin(
					ng-click="Page.RestartServer()"
				) Restart Server
				a.w3-btn.w3-red.w3-border.w3-rounded-large.w3-margin(
					ng-click="Page.StopServer()"
				) Stop Server


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Server Diagnostics
			//- 
			//-=====================================================================
			//-=====================================================================


			h3 Server Diagnostics

			.w3-container

				a.w3-btn.w3-green.w3-border.w3-rounded-large.w3-margin(
					ng-click="Page.RefreshDiagnostics()"
				) Refresh Stats

				input.w3-check.w3-small(
					type="checkbox"
					ng-bind="Page.AutoRefreshEnabled()"
					ng-click="Page.ToggleAutoRefresh()"
				)
				label.w3-small.w3-margin-left Auto Refresh

				pre.w3-code.w3-small(
					id="DiagnosticsJson"
				) {{ Page.Diagnostics.text }}


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Server Configuration
			//- 
			//-=====================================================================
			//-=====================================================================


			h3 Server Configuration

			.w3-container

				a.w3-btn.w3-green.w3-border.w3-rounded-large.w3-margin(
					ng-click="Page.ReadConfiguration()"
				) Refresh Configuration

				a.w3-btn.w3-green.w3-border.w3-rounded-large.w3-margin(
					ng-click="Page.WriteConfiguration()"
				) Update Configuration

				pre.w3-code.w3-small(
					id="ConfigurationJson"
				) {{ Page.ConfigurationJson }}


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Scheduled Tasks
			//- 
			//-=====================================================================
			//-=====================================================================


			h3 Scheduled Tasks

			.w3-container

				table(
					style="border: 1px solid black;"
				).w3-table

					thead 
						tr 
							th Task Name 
							th Enabled
							th Last Start
							th Last Finish
							th Last Duration
							th Last Error
							th Run Count

					tbody 
						tr(
							ng-show="!Page.Tasks || !Page.Tasks.length"
						)
							td( colspan=7 ).w3-center No scheduled tasks.

						tr(
							ng-repeat="task in Page.Tasks"
						)
							td {{ task.name }}
							td {{ task.enabled }}
							td {{ task.last_start }}
							td {{ task.last_finish }}
							td {{ task.last_duration }}
							td {{ task.last_error }}
							td {{ task.run_count }}



